.container {
    background-image: url("../../images/sky.png");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat; 
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.bg {
    padding: 77px 0px 0px 0px;
    display: flex;
    justify-content: left;
    padding-left: 50px;
}

.txt {
    border-left: solid white;
    line-height: 0;
    position: inherit;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    height: 140px;
    padding: 0 0 0 20px;

}

h1 {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    opacity: 90%;
    font-size: 3em; 
}

h2 {
    display: flex;
    height: fit-content;
    justify-content: center;
    color: whitesmoke;
    opacity: 80%;
    font-size: 2em;
}

.txt p {
    color: whitesmoke;
    opacity: 88%;
}

.title {
    opacity: 77%;
}

.container-p {
    padding-top: 80px;
    padding-left: 65px;
    width: 700px;
    line-height: 20px;
    opacity: 77%;
}

p {
    color: whitesmoke;
}

.react {
    width: 50px;
}

.python {
    width: 50px;
}

.hjc {
    width: 150px;
}

.skills {
    display: inline-block;
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-end;
    flex-wrap: nowrap;
    padding-top: 80px;
    padding-left: 300px;
    opacity: 77%;
}

.card {
    background-color: rgba(245, 245, 245, 0.384);
    width: fit-content;
    height: fit-content; 
    padding-right: 20px;
    margin-left: 50px;
    padding-left:20px;
    display: flex;
    flex-direction:column;
    align-items: center;
    font-size: 1.5em;
    border-radius: 10%;
}

.card:hover {
    background-color: rgba(245, 245, 245, 0.55);;
}

.body-txt {
    color: black;
    width: 50rem;
    padding-bottom: 10px;
}

.card2 {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100vh;
    font-size: 2em;
    padding-left: 650px;
}

h5 {
    background-color:  rgba(245, 245, 245, 0.623);
    border-radius: 20%;
    padding: 10px;
}