input  {
    justify-content: center;
    align-items: center;
    padding: .5vmin;
    font-size: 2vmin;
    border: .1vmin solid var(--tan-2);
    border-radius: .5vmin;
    outline: none;
  }


  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }